:root {
    --gray: #9EA3B0;
    --tea-green: #96C0B7;
    --dark-teal: #335C67;
    --dark-purple: #28112B;
    --dark-rose: #4C2F3A;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--gray);
    margin: 0;
}

header {
    background-color: var(--dark-teal);
    color: var(--dark-purple);
}

nav a {
    color: var(--tea-green);
    font-size: larger;
    text-decoration: underline;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-right: 100px;
}

aside {
    color: var(--dark-rose);
    flex: 1;
    background-color: var(--gray);
    border-right: 3px solid var(--dark-teal);
    text-align: right;
}

h2 {
    color: var(--dark-purple);
}

.nav {
    text-align: right;
    margin-right: 2px;
}

.banner {
    background-color: #A18276;
}

.banner img {
    display: block;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    max-width: 200px;
}

.right-side-content {
    flex: 7;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.content {
    font: 12pt;
}

.card {
    display: flex;
    flex-wrap: wrap;
}

.work-card {
    border-style: solid;
    border-color: var(--tea-green);
    margin: 5px;
    width: 35%;
}

.work-card-header {
    font-size: larger;
    font-weight: bolder;
}

.work-card img {
    display: block;
    width: 100%;
    filter: opacity(75%);
}

.work-card img:hover {
    cursor: pointer;
    filter: opacity(100%);
}

.footer {
    text-align: center;

}

.footer a {
    color: var(--dark-purple);
    font-size: larger;
    text-decoration: underline;
    text-decoration-color: var(--dark-rose);
}

#work-first-image {
    border-style: solid;
    border-color: var(--tea-green);
    margin: 5px;
    width: 70%;
}

/* Tablets*/
@media screen and (max-width: 992px) {
    .work-card {
        width: 70%;
    }

    #work-first-image {
        width: 70%;
    }
}

/* Large smartphones*/
@media screen and (max-width: 768px) {
    .work-card {
        width: 120%;
    }

    #work-first-image {
        width: 120%;
    }
}

/* Small smartphones*/
@media screen and (max-width: 576px) {
    .work-card {
        width: 170%;
    }

    #work-first-image {
        width: 170%;
    }
}